<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navbar') %>

    <div class="container my-3">
      <h1 class="mb-3">Home</h1>

      <% if (posts.length > 0) { %>
      <div class="posts">
        <% posts.forEach((post) => { %>
        <h5>
          <a class="text-dark post" href="<%= `/post/${post.title}` %>"
            ><%= post.title %></a
          >
        </h5>
        <p>
          <%= post.content.slice(0,100) %>
          <!---->
          <% if (post.content.length > 100) { %>
          <!---->
          ...<a href="<%= `/post/${post.title}` %>">Read more</a>
          <!---->
          <% }%>
        </p>
        <% }); %>
      </div>
      <% } else { %>
      <div
        class="container-fluid text-center text-black-50"
        style="font-size: 3rem"
      >
        <p>No Posts Present</p>
      </div>
      <% } %>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
