<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navbar') %>

    <div class="container my-3">
      <h1 class="mb-3">Home</h1>

      <% if (posts.length > 0) { %>
      <!--  -->
      <%- include('./partials/posts', { posts }) %>
      <!--  -->
      <% } else { %>
      <!--  -->
      <%- include('./partials/no-post') %>
      <!--  -->
      <% } %>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
