<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container my-3">
      <h1 class="mb-3">Home</h1>

      <% posts.forEach((post) => { %>
      <h5><%= post.title %></h5>
      <p>
        <% if (post.content.length > 100) { %>
        <!---->
        <%= post.content.slice(0,100) %>...
        <a href="/post/<%= post.title %>">Read more</a>
        <!---->
        <% } else { %>
        <!---->
        <%= post.content %> <a href="/post/<%= post.title %>">Go to post</a>
        <% } %>
      </p>
      <% }); %>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
